/*-----Typography-----*/

body, .project a {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Exo 2", sans-serif;
    font-weight: 700;
    font-style: normal;
}


h2 {
    font-weight: 600;
}

h3 {
    font-weight: 500;
}


/*-----Elements-----*/

/* body */

body {
    background-color: rgb(235, 237, 238);
    line-height: 1.6;
    margin: 0 auto;

}


/* nav */

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 0;
    font-size: 1.2rem;
}

nav li {
    list-style-type: none;
}

nav a {
    padding: .5rem 1rem;
}






/*-----Links-----*/

a,
a:visited { 
	color: #363736;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
    background-color: #ffffff83;
    border-radius: 10px;
    outline: 2px dotted gray;

}

a:focus {
	outline: 2px dotted;
}




/*-----Components-----*/



.site-header, .about, .projects, .contact {
    margin-bottom: 6rem;
}


/*site-wrapper */

.site-wrapper > *:not(.site-header) {
    padding: 0 1rem; 
}


.site-wrapper h2 {
    text-align: center;
}

/* site-header */

.site-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-header img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.site-header-text {
    background-color: #ffffff83;
    border-radius: 10px;
    padding: 3rem 4rem;
    position: absolute;
    text-align: center;
    line-height: .8rem;
    margin: 1rem 0 auto;
    box-shadow: 5px 5px 5px gray; /*Searched MDN*/

}



.site-header-text p {
    letter-spacing: -.06rem;
}



/* section about */

.about p {
    text-align: center;
}



/* section project */

.project {
    /* display: block; */
    background-color: #ffffff83;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    padding: 1rem 3rem;
    margin: 2rem auto;
    text-align: center;
    width: 16rem;
    height: 16rem;
}

.project:hover {
    width: 16.3rem;
    height: 16.3rem;
}



.project a {
    padding: 0.5rem 1rem;
}

.project-img {
    margin: 1.2rem auto;
}

.project p {
    margin: 0;
}


/* section.contact */


.contact-info {
    background-color: #ffffff83;
    padding: 1rem 0;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    width: 16rem;
    margin: 0 auto;
    
}

.contact p {
    text-align: center;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .6rem;
}

.icons img, a {
    width: 3rem;
    height: 3rem;

}

.icons img {
    padding: .1rem;
}



/* footer */

.site-footer {
    text-align: center;
    
}

/*-----media-----*/

@media(min-width: 768px) {

    .site-wrapper > *:not(.site-header) {
        max-width: 80%;
        margin: 6rem auto;

    }

    .site-header-text {
        padding: 3rem 12rem;
    }

    .site-header-text h1 {
        font-size: clamp(2rem, 3rem, 4rem);
    }
    
        
    .site-header-text p {
        letter-spacing: normal;
        font-size: clamp(1rem, 1.2rem, 1.2rem);
    }


    .about p {
        max-width: 70%;
        margin: 0 auto;
    }

    .project-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 2rem;
        margin: 0 auto; 
        max-width: 55rem;
    }

    .project {
        margin: 0;
    }

    .contact-info {
        width: 38rem;
        margin: 0 auto;
    }

}









/* -----Credits-----

site-header img:  Milad Fakurian 
https://unsplash.com/ko/%EC%82%AC%EC%A7%84/a-blurry-photo-of-a-white-background-GJKx5lhwU3M?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>의<a href="https://unsplash.com/ko/@fakurian?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"


-----*/
